/* Default Styles */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Quattrocento&display=swap');

*{
    margin:0;
    padding:0;
    border: none;
}

body {
    font-family: 'Quattrocento', serif;
    font-weight: 400;
    color: #fff;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: #fff;
    letter-spacing: 4px;
}

/* Header */

.logo {
    float: left;
    width: 75px;
}

/*navigation links */

.menu {
    font-size: 110%;
    letter-spacing: 4px;
}

.menu li {
    float: right;
    list-style-type: none;
    margin-right: 1rem;
  }

  .menu a{
    text-decoration: none;
    color: inherit;
  }

  .menu, .logo{
    line-height: 75px;
  }