/* Default Styles */
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&family=Rufina:wght@700&display=swap');

*{
    margin:0;
    padding:0;
    border: none;
}

body {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    color: #ccc;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Rufina', serif;
    font-weight: bold;
    color: #fff;
    letter-spacing: 4px;
}


.logo {
    float: left;
    width: 75px;
}

/*navigation links */

.menu {
    font-size: 110%;
    letter-spacing: 2px;
}

.menu, .logo{
    line-height: 75px;
}

.menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

.menu a{
    text-decoration: none;
    color: inherit;
}

.menu a:hover{
    border-bottom: 1px solid #fff;
}
  
.active{
    border-bottom: 1px solid #fff;
}

/* main image and cover text */

.main-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

.main-image{
    height: 600px;
    width: 100%;
    background: url('../images/agriculture-image.png') no-repeat center center/cover;
    
    /*animates zoom effect on loading page */
    animation: zoomIn 10s linear forwards;

}


/* create zoom fo main image */

@keyframes zoomIn {
    0% {
      background-size: 100% 100%;
    }
    100% {
      background-size: 120% 120%;
    }
}

.title-slogan, .title-slogan h1, h3{
    color: #fff;
}

.title-slogan {
    position: absolute;
    font-size: 130%;
    font-family: 'Rufina', serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 400px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(0, 0, 0, 0.5);

    bottom: 30px;
    right: 150px;
    
  }
  
.title-slogan button{
    background-color: orange;
}